body{
    background-color: rgb(248, 247, 246);
}
.embla {
  position: relative;
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  overflow: hidden;
}

.embla__slide img {
  display: block;
  width: 100%;
}

.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 25%;
  box-sizing: border-box;
}

.embla__slide__content {
  display: flex;
  align-items: center;
}

.embla__slide__image {
  margin-right: 10px;
}


.embla__controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
